---
layout: default
title: Home
---

<div class="posts">
  <h1>

  </h1>
  {% for post in paginator.posts %}
  <article class="post" style="margin-bottom: 1rem;">
    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date" style="margin-top: var(--spacer); margin-bottom: 0;">{{ post.date | date_to_string }}</time>
    <h1 class="post-title">
      <a href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
    </h1>
  </article>
  {% assign categories = post.categories %}
  <mark>Categories:</mark>
  {% assign categoryPath = "" %}
  {% for category in categories offset:1 %}
    {% capture oldCategoryPath %}{{ categoryPath }}{% endcapture %}
    {% assign categoryPath = oldCategoryPath | append: category | append: "/" %}
    <small><a href="{{ site.baseurl }}/posts/{{ categoryPath }}">{{ category | capitalize }}</a></small>
  {% endfor %}
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: relative_url }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
  {% assign totalPages = paginator.total_pages %}
  {% if totalPages > 5 %}
    {% assign lastPage = totalPages | minus: 3 %}
    {% if paginator.page > 3 and paginator.page < lastPage %}
      <a class="pagination-item" href="{{ site.url }}">1</a>
      <span class="pagination-item"><i class="fa-solid fa-ellipsis"></i></span>
      <a class="pagination-item" href="{{ paginator.previous_page_path | prepend: relative_url }}">{{ paginator.previous_page }}</a>
      <a class="pagination-item current" href="{{ paginator.page | prepend: '\page' | prepend: relative_url }}">{{ paginator.page }}</a>
      <a class="pagination-item" href="{{ paginator.next_page_path | prepend: relative_url }}">{{ paginator.next_page }}</a>
      <span class="pagination-item"><i class="fa-solid fa-ellipsis"></i></span>
      <a class="pagination-item" href="{{ totalPages | prepend: '/page' | prepend: site.url }}">{{ totalPages }}</a>
    {% else %}
      {% if paginator.page <= 3 %}
        {% for pagi in (1..3) %}
          {% if forloop.index == paginator.page %}
            {% if forloop.index == 1 %}
              <a class="pagination-item current" href="{{ site.url }}">{{ pagi }}</a>
            {% else %}
              <a class="pagination-item current" href="{{ pagi | prepend: '/page' | prepend: site.url }}">{{ pagi }}</a>
            {% endif %}
          {% else %}
            {% if forloop.index == 1 %}
              <a class="pagination-item" href="{{ site.url }}">{{ pagi }}</a>
            {% else %}
              <a class="pagination-item" href="{{ pagi | prepend: '/page' | prepend: site.url }}">{{ pagi }}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
        <span class="pagination-item"><i class="fa-solid fa-ellipsis"></i></span>
        <a class="pagination-item" href="{{ totalPages | prepend: '/page' | prepend: site.url }}">{{ totalPages }}</a>
      {% elsif paginator.page >= lastPage %}
        <a class="pagination-item" href="{{ site.url }}">1</a>
        <span class="pagination-item"><i class="fa-solid fa-ellipsis"></i></span>
        {% assign currentPage = totalPages | minus: paginator.page | plus: 1%}
        {% for pagi in (lastPage..totalPages) %}
          {% if forloop.rindex == currentPage %}
            <a class="pagination-item current" href="{{ pagi | prepend: '/page' | prepend: site.url }}">{{ pagi }}</a>
          {% else %}
            <a class="pagination-item" href="{{ pagi | prepend: '/page' | prepend: site.url }}">{{ pagi }}</a>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endif %}
  {% else %}
    {% for pagi in (1..totalPages) %}
      {% if forloop.index == paginator.page %}
        {% if forloop.index == 1 %}
          <a class="pagination-item current" href="{{ site.url }}">{{ pagi }}</a>
        {% else %}
          <a class="pagination-item current" href="{{ pagi | prepend: '/page' | prepend: site.url }}">{{ pagi }}</a>
        {% endif %}
      {% else %}
        {% if forloop.index == 1 %}
          <a class="pagination-item" href="{{ site.url }}">{{ pagi }}</a>
        {% else %}
          <a class="pagination-item" href="{{ pagi | prepend: '/page' | prepend: site.url }}">{{ pagi }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | relative_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
</div>

<script src="https://utteranc.es/client.js"
  repo="Gyuhub/Gyuhub.github.io.blog-comments"
  issue-term="pathname"
  label="utterances"
  theme="github-light"
  crossorigin="anonymous"
  async>
</script>