<!DOCTYPE html>
<html lang="en">
  <div class="profile">
    <img src="/assets/images/profile.jpg" class="profile-image"/>
    <div class="profile-description">
        <span>Mingyu Park</span><br>
        <span><small><i class="fa-solid fa-robot"></i> Robot Researcher</small></span>
        <p class="message">Nice to meet you!</p>
    </div>
    <hr>
    <div class="profile-items">
        <a href="https://github.com/Gyuhub" class="profile-anchor"><i class="fa-brands fa-github"></i> Gyuhub</a>
        <a href="https://www.instagram.com/mn_g.p/" class="profile-anchor"><i class="fa-brands fa-instagram"></i> Instagram</a>
        <i class="fa-solid fa-at"></i> alsrb0820@gmail.com
    </div>
  </div>
</html>
