// Image
//
// Styles for images in posts

.img_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#img_logo {
    display: inline-block;
    width: 1.375rem; //22px
    margin-bottom: 0;
    vertical-align: middle;
}