// Layout
//
// Styles for managing the structural hierarchy of the site.

.header {
  height: 5rem;
  margin-bottom: var(--spacer-2);
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--body-bg);
  transition: top 0.2s ease-in-out, background-color 0.5s ease;
  z-index: 1;
}

.nav-up {
  top: -5rem;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  padding-left: var(--spacer-1);
  padding-right: var(--spacer-1);
  margin-left:  var(--spacer-2);
  margin-right: var(--spacer-2);
}

.content {
  width: 80%;
  height: fit-content;
  margin: inherit;
}

.sidebar {
  width: 20%;
  height: fit-content;
  position: sticky;
  top: 2.5rem;
  margin: inherit;
  box-sizing: border-box;
  transition: top 0.2s ease-in-out;
  border-radius: calc(var(--border-radius) * 10);
  ul {
    padding-left: 1rem;
  }
  li {
    list-style-type: none;
    word-break: break-all;
  }
  li > ul {
    margin-bottom: 0;
  }
  & li.active > a {
    // box-shadow: .25rem .25rem .5rem var(--button-bg-color);
    opacity: 0.8;
    transform: translateY(-0.25rem);
    border-right: 5px solid var(--yellow-100);
    &::before {
      content: '\f14a';
      font-family: 'Font Awesome 6 Free';
      font-weight: 900;
      margin-right: .25rem;
    }
  }
  a {
    display: block;
    text-decoration: none;
    font-size: calc(var(--font-size) / 2);
    // color: #000000;
    transition: all 0.5s ease-in-out;
    border-right: 5px solid var(--gray-500);
  }
  a::before {
    content: '\f0c8';
    font-family: 'Font Awesome 6 Free';
    font-weight: 400;
    margin-right: .25rem;
  }
  a:hover {
    box-shadow: .25rem .25rem .5rem var(--button-bg-color);
    transform: translateY(-0.25rem);
    &::before {
      content: '\f14a';
    }
  }
  a.back-to-top {
    display:flex;
    position: fixed;
    bottom: 2rem;
    right: var(--spacer-2);
    z-index: 0;
    border: 0;
    border-radius: 70%;
    &::before {
      content: '';
      margin-right: 0;
    }
    & i.back-to-top {
      display: inline-block;
      border-radius: inherit;
      background-color: transparent;
    }
  }
}

footer {
  margin-top: var(--spacer-3);
  margin-bottom: var(--spacer-3);
  margin-left: var(--spacer-3);
  margin-right: var(--spacer-2);
}
