// Pagination
//
// Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
// there are no more previous or next posts to show.

.pagination {
  display: flex;
  margin: 0 -1.5rem var(--spacer);
  color: grey;
  text-align: center;
}

// Pagination items can be `span`s or `a`s
.pagination-item {
  display: block;
  padding: var(--spacer);
  text-decoration: none;
  border: solid var(--border-color);
  border-width: 0.063rem 0; //1px

  &:first-child {
    margin-bottom: -0.063rem; //-1px
  }
  &.current {
    background-color: var(--border-color);
  }
}

// Only provide a hover state for linked pagination items
a.pagination-item:hover {
  background-color: var(--border-color);
}

@media (min-width: 30rem) {
  .pagination {
    margin: var(--spacer-3) 0;
  }

  .pagination-item {
    float: left;
    width: 50%;
    border-width: 0.063rem; //1px

    &:first-child {
      margin-bottom: 0;
      border-top-left-radius: calc(var(--border-radius) * 30);
      border-bottom-left-radius: calc(var(--border-radius) * 30);
    }
    &:last-child {
      margin-left: -0.063rem; //-1px
      border-top-right-radius: calc(var(--border-radius) * 30);
      border-bottom-right-radius: calc(var(--border-radius) * 30);
    }
  }
}
