.profile {
    
    .profile-description {
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
        .message {
            padding: 0;
        }
    }
    .profile-image {
        display: inline-block;
        margin: var(--spacer);
    }
    .profile-items {
        a.profile-anchor {
            transition: none;
            transform: none;
            box-shadow: none;
            border-right: none;
            color: var(--body-color);
            &::before {
                content: none;
            }
        }
        .profile-info {
            span.profile-hidden {
                visibility: hidden;
                opacity: 0;
                transition: visibility 0.3s, opacity 0.3s linear;
            }
            &:hover > span.profile-hidden {
                visibility: visible;
                opacity: 1;
            }
        }
        text-align: left;
    }
}