---
layout: default
---
{% assign categories = page.dir | remove: "/posts/" | split: "/" %}
{% assign categoriesSize = categories.size %}
{% assign subcategorySize = page.subcategory | size %}
{% assign subcategoriesSize = page.subcategories | size %}

<h1>Posts about <mark>{{ page.title }}</mark></h1>

{{ content }}

{% if subcategorySize != 0 or subcategoriesSize != 0 %}
<ul class="post-list">
    <h3>상위 카테고리(Parent categories)</h3>
    {% if categoriesSize == 1%}
        <li class="category-list">
            <a href="{{ site.baseurl }}/categories">Categories</a>
        </li>
    {% else %}
        {% assign categoriesLimit = categoriesSize | minus: 1 %}
        {% for category in categories limit: categoriesLimit %}
            <li class="category-list">
                <a href="{{ site.baseurl }}/posts/{{ category }}">{{ category | capitalize }}</a>
            </li>
        {% endfor %}
    {% endif %}
</ul>
    <hr>
<ul class="post-list">
    <h3>하위 카테고리(Sub categories)</h3>
    {% if subcategoriesSize != 0 %}
        {% for subcategory in page.subcategories %}
            <li class="category-list">
                <a href="{{ site.baseurl }}{{ post.dir }}{{ subcategory | downcase }}">{{ subcategory }}</a>
            </li>
        {% endfor %}
    {% else %}
        <li class="category-list">
            <a href="{{ site.baseurl }}{{ post.dir }}{{ page.subcategory | downcase }}">{{ page.subcategory }}</a>
        </li>
    {% endif %}
</ul>
{% else %}
<ul class="post-list">
    <h3>상위 카테고리(Parent categories)</h3>
    {% if categoriesSize == 1%}
        <li class="category-list">
            <a href="{{ site.baseurl }}/categories">Categories</a>
        </li>
    {% else %}
        {% assign categoriesLimit = categoriesSize | minus: 1 %}
        {% assign categoryPath = "" %}
        {% for category in categories limit: categoriesLimit %}
            {% capture oldCategoryPath %}{{ categoryPath }}{% endcapture %}
            {% assign categoryPath = oldCategoryPath | append: category | append: "/" %}
            <li class="category-list">
                <a href="{{ site.baseurl }}/posts/{{ categoryPath }}">{{ category | url_decode | capitalize }}</a>
            </li>
        {% endfor %}
    {% endif %}
</ul>
    <hr>
<ul class="post-list">
    <h3>게시글(Posts)</h3>
    {% assign pageTitle = page.title | downcase %}
    {% assign sortedPosts = site.posts | sort:"post-order" %}
    {% for post in sortedPosts %}
        {% assign postCategory = post.category %}
        {% if pageTitle == postCategory %}
            <li>
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </li>
        {% endif %}
    {% endfor %}
{% endif %}
</ul>