<!DOCTYPE html>
<html lang="en">
  <script>
    var theme = localStorage.getItem('data-theme');
    document.documentElement.setAttribute('data-theme', theme);
  </script>
  {% include head.html %}
  {% include mathjax_support.html %}
  <body>
    <div class="header">
      <header class="masthead">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home">
            <img src="/assets/images/android-chrome-192x192.png" alt="Blog logo" id="img_logo"/>
            {{ site.title }}
          </a>

          <nav class="nav">
            {% for nav in site.nav %}
            <small><a href="{{ nav.url }}">{{ nav.title }}</a></small>
            {% endfor %}
          </nav>
          <button class="btn theme-btn" onclick="toggleTheme()"><img id="theme-icon" src="#"/></button>
          <script>
            if (theme == 'dark-poole') document.getElementById('theme-icon').setAttribute('src', '/assets/images/sun.ico');
            else document.getElementById('theme-icon').setAttribute('src', '/assets/images/moon.ico');
          </script>
        </h3>
      </header>
    </div>
    <div class="container">
      <div class="content">{{ content }}</div>
      <div class="sidebar">
        <span><h3><mark>In this article</mark></h3></span>
        {% include toc.html html=content skip_no_ids=true %}
        <a class="back-to-top" href="#"><img class="back-to-top"src="/assets/images/circle-arrow-up-solid.svg" alt="arrow-up"/></a>
      </div>
    </div>
      
    <script type="text/javascript" src="/assets/js/functions.js"></script>
    <div class="footer">
      <footer>
        <small>
          &copy;
          <time datetime="{{ site.time | date_to_xmlschema }}"
            >{{ site.time | date: '%Y' }}</time
          >. All rights reserved to Gyuhub.
        </small>
      </footer>
    </div>

    {% if site.ga_analytics %}
    <script>
      (function (i, s, o, g, r, a, m) {
        i["GoogleAnalyticsObject"] = r;
        (i[r] =
          i[r] ||
          function () {
            (i[r].q = i[r].q || []).push(arguments);
          }),
          (i[r].l = 1 * new Date());
        (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m);
      })(
        window,
        document,
        "script",
        "https://www.google-analytics.com/analytics.js",
        "ga"
      );
      ga("create", "{{ site.ga_analytics }}", "auto");
      ga("send", "pageview");
    </script>
    {% endif %}
  </body>
</html>
