<!DOCTYPE html>
<html lang="en">
  <script>
    var theme = localStorage.getItem('data-theme');
    document.documentElement.setAttribute('data-theme', theme);
    let msg = {
      type: "set-theme",
      theme: ''
    };
    if (theme == 'dark-poole') msg.theme = 'photon-dark';
    else msg.theme = 'github-light';
    localStorage.setItem('msg', JSON.stringify(msg));
  </script>
  {% include head.html %}
  {% include mathjax_support.html %}
  <body>
    <div class="header">
      <header class="masthead">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home">
            <img src="/assets/images/android-chrome-192x192.png" alt="Blog logo" id="img_logo"/>
            {{ site.title }}
          </a>

          <nav class="nav">
            {% for nav in site.nav %}
            <small><a href="{{ nav.url }}">{{ nav.title }}</a></small>
            {% endfor %}
          </nav>
          <button class="btn theme-btn" onclick="toggleTheme()"><img id="theme-icon" src="#"/></button>
          <script>
            if (theme == 'dark-poole') document.getElementById('theme-icon').setAttribute('src', '/assets/images/sun.ico');
            else document.getElementById('theme-icon').setAttribute('src', '/assets/images/moon.ico');
          </script>
        </h3>
      </header>
    </div>
    <div class="container">
      <div class="content">{{ content }}</div>
      <div class="sidebar">
        {% assign pageUrl = page.url | remove: paginator.page %}
        {% if page.url == '/' or pageUrl == '/page/' %}
          {% include base_sidebar.html %}
        {% else %}
          {% include toc.html html=content skip_no_ids=true %}
        {% endif %}
        <a class="back-to-top" href="#"><i class="fa-solid fa-circle-up fa-2x back-to-top"></i></a>
      </div>
    </div>
      
    <script type="text/javascript" src="/assets/js/toc.js"></script>
    <script type="text/javascript" src="/assets/js/functions.js"></script>
    <div class="footer">
      <footer>
        <small>
          &copy;
          <time datetime="{{ site.time | date_to_xmlschema }}"
            >{{ site.time | date: '%Y' }}</time
          >. All rights reserved to Gyuhub.
        </small>
      </footer>
    </div>
  </body>
</html>
