---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
  {{ content }}
</article>

{% if page.post-order != empty %}
<aside class="related">
  <h3>Related posts</h3>
  <ul class="related-posts">
    {% assign sorted_posts = site.posts | sort:"post-order" %}
    {% assign post_count = 0 %}
    {% assign post_offset = 3 %}
    {% assign post_order = page.post-order %}
    {% assign post_lower_bound = post_order | minus: post_offset %}
    {% assign post_upper_bound = post_order | plus: post_offset %}
    {% for post in sorted_posts %}
      {% if post.category == page.category %}
        {% assign post_count = post_count | plus: 1 %}
        {% if post_count < post_upper_bound and post_count > post_lower_bound %}
          <li>
            <a href="{{ site.baseurl }}{{ post.url }}">
              {% if post_count == post_order %}
                <i class="fa-solid fa-arrow-right"></i> <ins>{{ post.title }}</ins>
              {% else %}
                {{ post.title }}
              {% endif %}
              <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
            </a>
            {{post_count}} and page order: {{post_order}}
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
</aside>
{% endif %}

{% assign categories = page.categories %}
<mark>Categories:</mark>
{% assign categoryPath = "" %}
{% for category in categories offset:1 %}
  {% capture oldCategoryPath %}{{ categoryPath }}{% endcapture %}
  {% assign categoryPath = oldCategoryPath | append: category | append: "/" %}
  <small><a href="{{ site.baseurl }}/posts/{{ categoryPath }}">{{ category | capitalize }}</a></small>
{% endfor %}

<script src="https://utteranc.es/client.js"
  repo="Gyuhub/Gyuhub.github.io.blog-comments"
  issue-term="pathname"
  label="utterances"
  theme="github-light"
  crossorigin="anonymous"
  async>
</script>